/* App.css */

/* Aseguramos que #root ocupe toda la pantalla */
#root {
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-bottom: 10px;
}

/* Estilos para el layout del dashboard */
.home-container {
  display: flex;
  height: 100vh;
  position: relative;
}

/* Main content area (right side of the screen) */
.main-content {
  margin-left: 250px; /* Esto asegura que el contenido principal ocupe el espacio a la derecha del sidebar */
  padding: 20px;
  flex-grow: 1;
  background-color: #f9f9f9;
  height: 100vh;
  overflow-y: auto;
}

.dashboard-content {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}